body{
    background-color: rgb(38, 165, 177);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}




.title{
    background-color: rgba(165, 15, 128, 0.568);
    font-size: 5rem;
    color: #eef1f8;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
    text-align: center;
    margin-top: 0%;
}

