body{
    background-color: rgb(38, 165, 177);
}


#library{
    background-color: rgba(249, 250, 253, 0.692);
    font-size: 1rem;
    font-family: "Arvo";
    margin-left: 40%;
    margin-top: 10px;
    
}

.title{
    background-color: rgba(165, 15, 128, 0.568);
    font-size: 5rem;
    color: #eef1f8;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
    text-align: center;
}

#addButton{
    font-family: "Arvo, cursive";
    margin-left: 45%;
}